         * { margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
            color: #333;
        }
#span1{
  display: grid;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.comp-name{
    display: flex;
    justify-content: center;
    gap: 10px;
}


     @media screen and (max-width: 600px) {
        header {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
            text-align: center;
            font-size: px;
        }
         
        .logo img{
            width: 30px;
            height: auto;
        }
        
     }

     @media screen and (min-width: 992px) {
        header {
            background-color: grey;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }
        .logo img{
            width: 60px;
            height: auto;
        }
        
     }