         * { margin: 0;
            padding: 0;
            box-sizing: border-box;
            color:white;
        }

                body {
                    margin: 0;
                    position: relative;
                }
        
                body::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    /* will stretch with body */
                    background-image: url("assets/clothes/bg.jpeg");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    object-fit: contain;
                    filter: blur(8px);
                    z-index: -1;
                }
    html,body{
        min-height: 100%;
    }



     @media screen and (max-width: 600px) {
        header {
            color: #fff;
            padding: 15px 10PX;
            text-align: center;
            background-attachment: fixed;
        }
              
        .navbar-collapse {
                    background-color: white;
                    width: 100%;
                    padding: 10px;
                    margin-left: -10%;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 1000;
                   
                }
               
                .navbar-nav {
                    width: 100%;
                    padding-right: 20%;
                }
              
        
                
        .logo img{
            width: 35px;
            height: auto;
        }
        #span1{
            color: black;
            display: grid;
             justify-content: center;
               align-items: center;
                text-align: left;
        }
                .comp-name {
                    display: flex;
                        flex-direction: row;
                        align-items: center;
                    gap: 10px;
                }
    #tag-name {
        font-size: 16px;
        font-weight: bold;
       
                                  }
   #tagline {
        font-size: 12px;
        margin-top: -8px;
   }

.forgap{
    display: flex;
    justify-content: space-between;
    
}



     }

     @media screen and (min-width: 992px) {
        header {
            background-color: grey;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }
        .logo img{
            width: 60px;
            height: auto;
        }
        
     }